img {
  width: 55%;
  height: auto;
}

header {
  background-color: #563838;
  color: #282726;

}

body {
  background-color: #6A8A82;
  color: #563838;
  font-size: 50%;
  grid-template-columns: 4fr 4fr 4fr;
}

#navigation {
  display: inline;
}
.nav {
  font-size: 100%;
  color: #282726;
  display: inline;
}
nav {
  width: 960px;
  color: #563838;
  margin-left: 30px;
  text-align: right;
  display: inline;
  font-size: 20px;
  padding: 5px;
} 

#menubar {
  display: inline;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #A7414A;
} 

salmon {
  position: absolute;
  width: 50%;
  top: 30px;
  left: 30px;
  width: 800px;
}

h1 {
  font-size: 40px;
  margin-left: 20px;
  margin-right: 40px;
  color: rgb(218, 121, 42);
   color: B86642;
   float: left; 
}
 .highlight {
  font-size: 20px;
  margin-left: 260px;
  color: #563838;
  /* float: left;  */
} 


h2, h3, h4 {
  font-size: 25px;
  margin-left: 60px;
  margin-top: 30px;
  color: #563838;
  background-color: #6A8A82;
  clear: left;
  text-align: center;
}
h4, h4 p, h4 a {
  width: 1020px;
}

.caption {
  font-size: 100%;
}

 p {
  margin: 10px;
  margin-left: 75px;
  font-size: 50%;
  
}

/* .h1p {
  color: rgb(15, 61, 30);
  font-size: 20px;
} */

tr, th, td {
  color: black;
  font-size: 30px;
  padding: 5px;
  font-size: 150%;
   outline: solid 3px black; 
}
.store {
    display: inline;
}

.highlight {
font-family: Margarine;
color: #A37627;
}

li {
  font-size: 15px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
  margin-left: 5px;
  margin-top: 5px;
  background-color: ;
} 

 ul {
  font-size: 35px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
  margin-left: 25px;
  margin-top: 10px;
  list-style-type: circle;
} 

body {
  background-color: #6A8A82;
  font-family:   Georgia, Times, sans-serif;
  color: rosybrown;
 } 

 section {
  font-family:   Georgia, Times, sans-serif;
  color: black;
  font-size: 25px;
}

button {
  font-size: 40px;
  margin: 15px;
}

input {
  font-size: 55px;
  margin: 5px;
}

.column1of3, .column2of3, .column3of3 {
  background-color: #563838;
  width: 30%;
  margin: 5px;
  float: left;
}

 ul, li {
  display: inline;
} 

.events  {
  display: block;
  font-size: 30px;
  margin-left: 200px;
  margin-top: 30px;
  color: rgb(15, 61, 30);
  clear: left;
}

.mugs {
  width: 40%;
   float: left; 
}

.merchandise {
  width: 30%;
   float: left; 
  clear: left;
}

a {
  font-size: 50%;
  border: none;
  color: #282726;
}
a:hover {
  color: #A37C27;
}
 .home{
   font-size: 150%;
   display: block;
 }

/* .column1of3, .column2of3, .column3of3 {
background-color:  rgb(218, 121, 42);
 } */

 .location{
   width: 1020px;
  background-color:  rgb(218, 121, 42);
   display: block;
   font-size: 1em;
 }

 .address {
   font-family: Arial, Helvetica, sans-serif;
   font-size: .6em;
 }

 /* .aboutUsButton {
  color: black;
  padding: 5px;
  border: none;
  font-size: 10px;
 }
 .dropDown {
   position: relative;
   display: inline-block;
 }
 
 .aboutUsContent {
  display: none;
  position: absolute;
  color: black;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}

.aboutUsContent a {
  color: black;
  display: block;
  text-decoration: none;
  padding: 5px;
}

.aboutUsContent:hover{
  color: rgb(155,73,45);
}

.aboutUsButton:hover {
  color: white;
  padding: 5px;
 }

.aboutUsButtona:hover {
  background-color: rgb(155,73,45);
}

 .dropDown:hover .aboutUsContent {
  display: block;
 }

 .dropDown:hover .aboutUsButton {
   background-color: black;
 } */

 .orderform {
   position: fixed;
   float: right;
    top: 0px;
   left: 650px; 
   width: 200px;
 }
.events:hover {
  background-color:#563838;
}
footer {
  display: block;
  border-left: 20px;
  border-right: 50px;
  border-bottom: 20px;
  font-size: 40px;
}

.about {
  margin-top: 50px;
  width: 800px;
  color: #563838;
}